ol {
    width: auto;
    height: auto;
    display: flex;
    text-decoration: none;
    list-style: none;
}
.h {
    text-transform: capitalize;
    font-size:xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
    background-color: rgba(0, 255, 242, 0.308);
}
.bb {
    background-color: rgba(0, 0, 0, 0.479);
}

.im {
    border-radius: 20px;
    width: 300px;
    margin: 20px;
}
ol li {
    padding-left: 10px;
}